@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/responsive' as *;
@use '../shared/misc' as *;
@use '../shared/links' as *;
@use '../shared/blur' as *;

// Container
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-radius: 0.8rem;
  overflow: hidden;
}

.header__container {
  transition: background 250ms $ease, color 500ms $ease, transform 500ms $ease;
  color: $white;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  position: relative;
  padding: 1rem 5.6rem;
  height: 100%;
}

// Logo
.header__logo-link {
  display: block;
  color: $white;
  width: 14rem;
  height: 8.8rem;
}

.header__logo-svg {
  width: 100%;
  height: 100%;
  color: $white;
}


// Nav
.header__nav {
  @extend %card-blur;
  border-radius: var(--border-radius);
}

.header__menu {
  display: flex;
  gap: 2rem;
  padding: 2rem 4rem;
}

.header__menu-link {
  color: $white;
  @extend %link;
}