@use '../utils/variables' as *;
@use '../shared/contents' as *;

.event-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  transition: transform 850ms $ease-out-quart;

  &:hover {
    transform: scale(0.97);
  }
}

.event-card__link {
  position: relative;
}

.event-card__img-wrapper {
  height: 20rem;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.event-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 850ms $ease-out-quart;

  .event-card__link:hover & {
    transform: scale(1.04);
  }
}

.event-card__content {
  padding: 0 1.2rem;
  ;
}

.event-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.event-card__title {
  font: 500 1.8rem / 1.2 $FranklinGothic;
}

.event-card__button {
  margin-top: auto;
  margin-left: auto;
  width: 16.5rem;
}

.event-card__excerpt {
  @extend %text-small;
  font-weight: 400;
  margin-top: 0.8rem;
  filter: opacity(0.7);
}