@use '../utils/variables' as *;
@use '../shared/contents' as *;
@use '../shared/blur' as *;

.subscribers-leaderboard {
  width: 42rem;
  @extend %card-blur;
  padding: 3rem 0;
  border-radius: var(--border-radius);
}


.leaderboard__title {
  padding-bottom: 1.6rem;
  margin-left: 2.8rem;
  font: 500 1.6rem / 1.4 $FranklinGothic;
}

.leaderboard__header {
  display: grid;
  grid-template-columns: 2rem 1fr 3rem;
  padding: 0 2.8rem;
  gap: 1.6rem;
  width: 100%;
  @extend %text-small;
  opacity: 0.40;
}

.leaderboard__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}

.leaderboard__item {
  display: grid;
  grid-template-columns: 2rem 1.4rem 1fr 3rem;
  gap: 1.6rem;
  width: 100%;
  @extend %text-small;
  transition: background 650ms $ease-out-quad;
  padding: 0.8rem 2.8rem;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.leaderboard__avatar {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.2rem solid rgba(255, 255, 255, 0.10);
}

.leaderboard__avatar--first {
  border: 0.2rem solid #FFC505;
}

.leaderboard__avatar--second {
  border: 0.2rem solid #C0C0C0;
}

.leaderboard__avatar--third {
  border: 0.2rem solid #CD7F32;
}

.leaderboard__avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leaderboard__points--value {
  text-align: right;
}