@use './base/reset';

@use "lenis/dist/lenis.css";
@use "swiper/scss";
@use "swiper/scss/navigation";
@use "swiper/scss/pagination";

// ------------------------------------ // ------------------------------------------
// -------------------------------- U T I L S ---------------------------------------
// ------------------------------------ // ------------------------------------------

@use './utils/responsive' as *;
@use './utils/variables' as *;
@use './utils/functions' as *;
@use './utils/mixins' as *;
@use './utils/vendors' as *;

// ------------------------------------ // ------------------------------------------
// ------------------------------- S H A R E D --------------------------------------
// ------------------------------------ // ------------------------------------------

@use './shared/misc';
@use './shared/titles';
@use './shared/links';
@use './shared/buttons';
@use './shared/pages';
@use './shared/contents';
@use './shared/sections';

// ------------------------------------ // ------------------------------------------
// --------------------------------- B A S E ----------------------------------------
// ------------------------------------ // ------------------------------------------

@use './base/fonts';
@use './base/base';

// ------------------------------------ // ------------------------------------------
// --------------------------- C O M P O N E N T S ----------------------------------
// ------------------------------------ // ------------------------------------------



// ------------------------------------ // ------------------------------------------
// ----------------------------- P A R T I A L S ------------------------------------
// ------------------------------------ // ------------------------------------------


// ------------------------------------ // ------------------------------------------
// ------------------------------- L A Y O U T S ------------------------------------
// ------------------------------------ // ------------------------------------------


@use './layouts/header';
@use './layouts/menu';


// ------------------------------------ // ------------------------------------------
// -------------------------- P A G E S  D I R E C T O R Y --------------------------
// ------------------------------------ // ------------------------------------------

@use './pages/front-page';
@use './pages/woocommerce';
@use './pages/single-product';