.big-img {
  width: 100%;
  overflow: hidden;
}

.big-img__wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 33.51%, #000 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
  //   z-index: 1;
  //   height: 80%;
  // }
}

.big-img__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
