.big-img {
  width: 100%;
  overflow: hidden;
}

.big-img__wrapper {
  width: 100%;
  height: 100%;
}

.big-img__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
