@use '../utils/variables' as *;
@use '../utils/responsive' as *;
@use '../shared/titles' as *;
@use '../shared/contents' as *;

.events-list {
    width: 100%;
    overflow: hidden;
    padding: 6rem var(--gutter);
}

.events-list__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    margin-top: 3.2rem;
}

.events-list__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.events-list__title {
    @extend %head-title;
    color: $white;
}

.events-list__icon {
    width: 1.4rem;
    height: 1.4rem;
    transform: translateY(-0.1rem);
}

.events-list__list {
    display: flex;
    gap: 1.6rem;
}