@use '../utils/variables' as *;
@use '../utils/responsive' as *;
@use '../shared/titles' as *;
@use '../shared/contents' as *;

.events-list {
    width: 100%;
    overflow: hidden;
    padding: 6rem var(--gutter);

    @include media('>hd') {
        padding: 10rem var(--gutter);
    }

    .events & {
        padding: 15rem var(--gutter);
    }

    .my-events & {
        padding: 0;
    }
}

.events-list__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    margin-top: 3.2rem;

    .events &,
    .my-events & {
        margin-top: 0;
    }

    @include media('>hd') {
        max-width: 160rem;
        margin: 0 auto;
    }
}

.events-list__header {
    display: flex;
    align-items: center;
    gap: 1rem;

    .news &,
    .my-events & {
        margin-bottom: 5.4rem;
    }
}

.events-list__title {
    @extend %head-title;
    color: $white;
}

.events-list__icon {
    width: 1.4rem;
    height: 1.4rem;
    transform: translateY(-0.1rem);
}

.events-list__list {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.4rem;
}