.hero {
  width: 100%;
  height: 120vh;
  overflow: hidden;
}

.hero__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 33.51%, #000 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
    z-index: 1;
  }
}