@use '../utils/variables' as *;
@use '../utils/responsive' as *;
@use '../shared/buttons' as *;
@use '../shared/titles' as *;

.hero {
  width: 100%;
  height: 120vh;
  overflow: hidden;
}

.hero__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 var(--gutter) 20vh;
}

.hero__title {
  width: 60rem;
}

.hero__content {
  margin-bottom: 6.4rem;
  margin-top: 12rem;
  display: flex;
  gap: 3.2rem;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.hero__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   inset: 0;
  //   background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 33.51%, #000 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
  //   z-index: 1;
  // }
}

.hero__title {
  @extend %title-h1;
  position: relative;
  z-index: 1;
  color: $white;
}


.hero__news-title {
  @extend %title-h2;
  margin-bottom: 1.6rem;
  color: $white;
  transform: translateX(1.4rem);
}

.hero__news-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}


.hero__events-title {
  @extend %title-h2;
  margin-bottom: 1.6rem;
  color: $white;
  transform: translateX(1.4rem);
}

.hero__events-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}