@use '../utils/variables' as *;
@use '../shared/blur' as *;
@use '../shared/titles' as *;

.single-event__hero {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
  grid-column: span 12;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 33.51%, #000 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
    z-index: 1;
  }
}

.single-event__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-event__title {
  @extend %title-h1;
  position: absolute;
  bottom: 5rem;
  left: var(--gutter);
  z-index: 2;
  max-width: 71rem;
}