@use '../utils/variables' as *;
@use '../utils/responsive' as *;
@use '../shared/titles' as *;

.my-events {
  padding: 15rem var(--gutter) 10rem;
}

.my-events__container {
  margin: 0 auto;
}

.my-events__header {
  margin-bottom: 2.4rem;
}

.my-events__title {
  @extend %head-title;
  color: $white;
}

.my-events__login-required,
.my-events__empty {
  padding: 2rem 0;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;

  p {
    margin-bottom: 1.2rem;
  }
}
.my-events__login-button{
  width: 16.5rem;
  margin-top: 1.6rem;
}

.my-events__notice {
  padding: 1rem 1.2rem;
  margin-bottom: 2rem;
  border-radius: 4px;

  &--success {
    background: rgba(0, 180, 100, 0.2);
    color: #7dffb3;
  }

  &--error {
    background: rgba(200, 60, 60, 0.2);
    color: #ff9b9b;
  }
}

.my-events__list {
  margin-top: 2rem;
}

.my-events__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.my-events__card-wrapper {
  width: 100%;
}

.my-events__unregister {
  margin-top: 0.8rem;
  margin-bottom: 0;
}
