{% extends "layouts/base.twig" %}

{% block content %}
<div class="woocommerce-checkout">
    <div class="container">
        {% if function('woocommerce_breadcrumb') %}
            <div class="breadcrumb">
                {{ function('woocommerce_breadcrumb') }}
            </div>
        {% endif %}

        <header class="page-header">
            <h1 class="page-title">Commande</h1>
        </header>

        <div class="checkout-content">
            {{ function('woocommerce_content') }}
        </div>
    </div>
</div>
{% endblock %}
