<a class="card" href="{{ link }}">
    <span class="card__category">{{ category }}</span>

    <h3 class="card__title">{{ title }}</h3>

     <div class="card__polygon-container">
      <div class="card__icon-wrapper">
      {% for i in 1..2 %}
          <svg class="card__icon">
            <use href="#arrow-right"></use>
          </svg>
      {% endfor %}
      </div>
      <svg class="polygon" >
        <use href="#polygon"></use>
      </svg>
    </div>

</a>