{# Modal de connexion avec iframe #}
<div class="modal-login" id="loginModal" data-login-modal>
  <div class="modal-login__overlay" data-login-modal-close></div>
  <div class="modal-login__container">
    <button type="button" class="modal-login__close" data-login-modal-close aria-label="Fermer">
      <svg class="modal-login__close-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
    <div class="modal-login__content">
      <iframe 
        class="modal-login__iframe" 
        data-login-iframe
        frameborder="0"
        title="Connexion"
      ></iframe>
    </div>
  </div>
</div>
