@use '../utils/variables' as *;
@use '../utils/responsive' as *;

$buttons-themes: // Slug        // Background     // Color

  'white' rgba(255, 255, 255, 0.10) $white,
  'black' rgba(0, 0, 0, 0) $black,
  'beige'$beige $black,
  'full-black'$black $white,

;

%button {
  --bevel: 1.5rem;

  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  transition: transform 500ms $ease, background 500ms $ease;
  color: $white;
  font: 500 1.4rem / 1 $FranklinGothic;
  // background: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(0.5rem);
  clip-path: polygon(9.5% 0%, 90.5% 0%, 100% 50%, 90.5% 100%, 9.5% 100%, 0% 50%);
  width: calc(100% + 1.4rem);

  @include media('>=tablet') {
    font: 500 1.2rem / 1 $FranklinGothic;
  }


  &:focus,
  &:hover {
    transform: scale(0.95);
  }

  &.is-normal {
    padding: 0.8rem 0rem 0.8rem 2.4rem;
  }

  &.is-cart {
    padding: 1.2rem 1.6rem;
    border: none;
    background: none;
  }

  &.is-active {
    background: $beige !important;
    color: $black !important;
    border: none;
  }

  &.is-small {
    padding: 1.2rem 1.2rem;
    font: 500 1.2rem / 1 $FranklinGothic;
  }

  &.is-full-black {
    border: none;
  }

  &.is-just-arrow {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid $black;
    border-radius: 50%;
    color: $black;
    background: none;
    transition: background 500ms $ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      backdrop-filter: blur(0.5rem);
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  span {
    display: inline-block;
  }

  .button__icon-wrapper {
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    z-index: 1;
    // overflow: hidden;
  }

  &.button--no-text {
    background-color: none;
    backdrop-filter: none;

    &::before,
    &::after {
      display: none !important;
    }
  }

  .button__polygon-container {
    width: 4.2rem;
    height: 3.7rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0.5rem);
  }

  .polygon {
    color: $white;
    position: absolute;
    width: 4.2rem;
    height: 3.7rem;
    top: 0;
    z-index: 0;
  }

  .button__icon {
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    color: $black;
    transition: transform 850ms $ease-out-quart;
    z-index: 1;

    &:nth-child(1) {
      transform: translateX(-100%) scale(0);
    }

    &:nth-child(2) {
      transform: translateX(0) scale(1);
    }
  }

  &:hover .button__icon {
    &:nth-child(1) {
      transform: translateX(0) scale(1);
    }

    &:nth-child(2) {
      transform: translateX(100%) scale(0);
    }
  }

  /*
  * Themes
  */

  @each $slug, $background, $color in $buttons-themes {
    &.is-#{$slug} {
      background-color: $background;
      color: $color;
      border-color: rgba($color, 0.3);

      &:hover {
        background: rgba($background, 0.2);
      }

    }
  }
}