@use '../utils/variables' as *;

%content-basic {
  display: grid;
  grid-gap: 2rem;

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  h2 {
    font: 500 2.5rem / 1.4 $FranklinGothic;
  }

  h3 {
    font: 500 2.25rem / 1.4 $FranklinGothic;
  }

  h4 {
    font: 500 calc(2.5rem * 0.8) / 1.4 $FranklinGothic;
  }

  h5 {
    font: 500 calc(2.5rem * 0.7) / 1.4 $FranklinGothic;
  }

  h6 {
    font: 500 calc(2.5rem * 0.6) / 1.4 $FranklinGothic;
  }

  // ul,
  // ol,
  // p {
  //   color: $text-grey;
  // }

  ul {
    list-style: disc;
  }

  ol {
    list-style: auto;
  }

  ul,
  ol {
    display: grid;
    grid-gap: 0.85rem;
    padding-left: 1.5rem;
  }

  a {
    font-weight: 700;
    text-decoration: underline;
  }

  blockquote {
    font-size: 2rem;
    border-left: 0.2rem solid rgba(black, 0.5);
    padding-left: 1.5rem;
  }

  img {
    max-width: 100%;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  span {
    display: inline;
  }
}

%chapo {
  @extend %content-basic;

  font: 400 2.7rem / 1.5 $FranklinGothic;
}