@use '../utils/variables' as *;

%link {
  position: relative;
  display: inline-block;
  color: black;

  &.is-white {
    color: white;
  }

  &:not(.sl) {

    &:focus,
    &:hover {
      &>span {
        background-size: 0% 0.2rem;
        background-position: 100% 100%;
      }
    }

    &>span {
      display: inline;
      line-height: 1.4;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 100% 0.2rem;
      transition: background-size 750ms $ease-natural;
    }
  }

  &:not(.is-basic) {
    font: 700 2.2rem / 1.5 $Erode;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  &.is-basic {
    font: 400 1.4rem / 1.5 $Manrope;

    &.sl {

      &:focus,
      &:hover {
        &>span {
          background-size: 100% 0.1rem;
          background-position: 0% 100%;
        }
      }

      &>span {
        display: inline;
        line-height: 1.4;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 0% 0.1rem;
        transition: background-size 750ms $ease-natural;
      }
    }
  }

  // Single line
  &.sl {

    &:focus,
    &:hover {
      &>span {
        background-size: 100% 0.2rem;
        background-position: 0% 100%;
      }
    }

    &>span {
      display: inline;
      line-height: 1.4;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-size: 0% 0.2rem;
      transition: background-size 750ms $ease-natural;
    }
  }
}