@use '../utils/variables' as *;

%link {
  position: relative;
  display: inline-block;
  color: inherit;
  font: 500 1.2rem / 1.4 $FranklinGothic;

  &:hover {
    &>span {
      background-size: 100% 0.1rem;
      background-position: 0% 100%;
    }
  }

  &>span {
    display: inline;
    line-height: 1.4;
    background-image: linear-gradient($white, $white);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 0% 0.1rem;
    transition: background-size 600ms $ease;
  }
}