{% set title = hero.title|default('') %}

{% extends "layouts/base.twig" %}

{% block content %}
    
    <div class="home">
        <div class="container">
            <h1>Bienvenue sur le starter theme WordPress + WooCommerce</h1>
        </div>
    </div>
    
{% endblock %}
