{% set title = hero.title|default('') %}

{% extends "layouts/base.twig" %}

{% block content %}
    
    <div class="home">
        <div class="container">
            {% include 'partials/hero.twig' with { fields: post.hero } %}

            {% include 'partials/big-img.twig' with { fields: post.transition } %}
        </div>
    </div>
    
{% endblock %}
