{% set title = hero.title|default('') %}

{% extends "layouts/base.twig" %}

{% block content %}
    
    <div class="home">
        <div class="container">
        {{ dump(post) }}
            {% include 'partials/hero.twig' with { fields: post.hero } %}
        </div>
    </div>
    
{% endblock %}
