{% extends "layouts/base.twig" %}

{% block content %}
<div class="my-events">
  <div class="my-events__container container">
    <div class="events-list__header">
        <svg class="events-list__icon">
            <use href="#polygon"></use>
        </svg>
      <h1 class="events-list__title">Mes évènements</h1>
    </div>

    {% if not post.isUserLoggedIn %}
      <div class="my-events__login-required">
        <p>Connectez-vous pour voir les événements auxquels vous êtes inscrit.</p>

        {% include 'components/button.twig' with {
          button: {
            title: 'Se connecter',
            url: site.url ~ '/wp-login.php?redirect_to=' ~ fn('urlencode', post.link),
          },
          class: 'my-events__login-button is-normal is-white',
          icon: 'arrow-right',
          ignore: true,
        } only %}
      </div>
    {% elseif not post.hasEvents %}
      <div class="my-events__empty">
        <p>Vous n'êtes inscrit à aucun événement pour le moment.</p>
      </div>
    {% else %}
      {% if post.hasMessage %}
        <div class="my-events__notice my-events__notice--{{ post.getMessageType }}" role="{% if post.getMessageType == 'error' %}alert{% else %}status{% endif %}">
          {{ post.getMessageText }}
        </div>
      {% endif %}

      <section class="events-list my-events__list">
        <div class="events-list__container">
          <div class="events-list__list my-events__cards">
            {% for event in post.getUserEvents %}
              <div class="my-events__card-wrapper">
                {% include 'components/event-card.twig' with { 
                  event: event, 
                  unregister_urls: post.getUnregisterUrls 
                } only %}
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
    {% endif %}
  </div>
</div>
{% endblock %}
