{% extends "layouts/base.twig" %}

{% block content %}
<div class="single-event">
  <div class="single-event__container">
    {% include 'partials/hero-single.twig' with { image: post.thumbnail, title: post.title } %}
    
    {% include 'partials/single-content.twig' %}

    {% include 'partials/single-sidebar.twig' %}

  </div>
</div>
{% endblock %}
