{# Header du site #}
<header id="header" class="header" role="banner">
  <div class="header__container">
    {# Logo #}
      <div class="header__logo">
        <a href="{{ site.url }}" title="{{ site.name }}" class="header__logo-link">
          <svg class="header__logo-svg" aria-hidden="true">
            <use href="#logo-blanc"></use>
          </svg>
        </a>
      </div>
    
    {# Menu principal #}
    {% if menu_header_main %}
      <nav class="header__nav" role="navigation" aria-label="Menu principal">
        <ul class="header__menu">
          {% for item in menu_header_main.items %}
            <li>
              {% include 'components/link.twig' with {
                link: item,
                class: 'header__menu-link',
              } %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}

    {# Bouton de connexion/déconnexion #}
    <div class="header__login">

      {% if fn('is_user_logged_in') %}

        {% include 'components/button.twig' with {
          button: {
            title: 'Se déconnecter',
            url: fn('wp_logout_url', post.link),
          },
          icon: 'arrow-right',
          class: 'is-normal is-white',
          ignore: true,
        } only %}

      {% else %}

        {# Bouton de connexion modal (button au lieu de lien pour éviter la navigation) #}
        <button
          type="button"
          class="button is-normal is-white"
          data-login-modal-open
          data-login-url="{{ fn('wp_login_url', post.link) }}"
          aria-label="Se connecter"
        >
          <span>Se connecter</span>
          <div class="button__polygon-container">
            <div class="button__icon-wrapper">
              {% for i in 1..2 %}
                <svg class="button__icon">
                  <use href="#arrow-right"></use>
                </svg>
              {% endfor %}
            </div>
            <svg class="polygon">
              <use href="#polygon"></use>
            </svg>
          </div>
        </button>

      {% endif %}

    </div>


      
  </div>
</header>

{# Modal de connexion #}
{% include 'components/modal-login.twig' %}
