{# Header du site #}
<header id="header" class="header" role="banner">
  <div class="header__container">
    {# Logo #}
      <div class="header__logo">
        <a href="{{ site.url }}" title="{{ site.name }}" class="header__logo-link">
          <svg class="header__logo-svg" aria-hidden="true">
            <use href="#logo-blanc"></use>
          </svg>
        </a>
      </div>
    
    {# Menu principal #}
    {% if menu_header_main %}
      <nav class="header__nav" role="navigation" aria-label="Menu principal">
        <ul class="header__menu">
          {% for item in menu_header_main.items %}
            <li>
              {% include 'components/link.twig' with {
                link: item,
                class: 'header__menu-link',
              } %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}

    {# Bouton de connexion #}
    <div class="header__login">
      {% include 'components/button.twig' with {
        button: {
          title: 'Se connecter',
          url: site.url ~ '/wp-login.php',
          type: 'button',
        },
        icon: 'arrow-right',
        class: 'is-normal is-full-black',
        ignore: true,
      } %}
    </div>
      
  </div>
</header>
