{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "tabWidth": 4,
        "singleQuote": false
      }
    },
    {
      "files": "*.twig",
      "options": {
        "parser": "melody",
        "tabWidth": 2
      }
    }
  ]
}
