{% set media = fields.media %}
{% set title = fields.title %}

<div class="hero">
  <div class="hero__container">
    <h1 class="hero__title">{{ title }}</h1>

    {% if media %}
      {% include 'components/media.twig' with {
        class: 'hero__media',
        media: media,
        isBackground: true,
      } only %}
    {% endif %}
  </div>
</div>