{% set img = fields.img %}
{% set title = fields.title %}

<div class="hero">
  <div class="hero__container">
    <h1 class="hero__title">{{ title }}</h1>

    {% if img %}
      <img src="{{ img.url }}" alt="{{ img.alt }}" class="hero__img" />
    {% endif %}
  </div>
</div>